<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClEYwN1BrrID6QbH_Gj-J0LYGSXrHAFDs</string>
	<key>GCM_SENDER_ID</key>
	<string>1050639982818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.ecosense</string>
	<key>PROJECT_ID</key>
	<string>eco-sense-40670</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-sense-40670.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050639982818:ios:540f5342e8cbccfe2d7ebb</string>
</dict>
</plist>